/* font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap');



.style-font {
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
    color: white;
}

.back-ground {
    background-color: black;
}

.ml {
    margin-left: 200px;
}

.mr {
    margin-right: 200px;
}

/* Banner style */
.banner {
    margin: 0 auto;
    width: auto;
    height: 715px;
    border: 1px solid pink;

}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.nav-bar {
    display: flex;
    margin-right: 200px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;


}

.nav-items {
    list-style: none;
    margin-right: 40px;
}

.nav-links {
    text-decoration: none;
}

.nav-head {
    font-weight: 800;
    font-size: 2.2rem;
    color: rgb(230, 83, 60);
    font-style: italic;
    margin-left: 200px;
}

.btn {
    background-color: rgb(230, 83, 60);
    width: 80px;
    height: 28px;
    border-radius: 10px;
    font-weight: 600;
    padding-left: 10px;
}

.nav-links {
    margin-top: 10px;
}

.banner-info {
    width: 520px;
    height: auto;
    margin-top: 100px;
    text-align: left;

}

.banner-info h3 {
    font-weight: 900;
    font-size: 4rem;
}

.style-h3 {
    font-style: italic;
}

.banner-info-p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-btn1 {
    width: 200px;
    height: 50px;
    background-color: rgb(230, 83, 60);
    border-radius: 30px;
    align-items: center;
    margin-top: 20px;
    border: none;
}

.banner-btn2 {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    align-items: center;
    border: 1px solid white;
    background-color:transparent;
}

.banner-image {
    width: 345px;
    height: 580px;
    margin-left: 600px;
}

.banner-container {
    display: flex;

}

.card {
    position: absolute;
    top: 195px;
    right: 170px;
    width: 200px;
    height: 60px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;


}

.card p,
.card h2 {
    background-color: rgba(255, 255, 255, 0.1);

}

.card p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
}

.card2 {
    position: absolute;
    top: 520px;
    right: 480px;
    width: 200px;
    height: 60px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    display: flex;

}

.circle {
    background-color: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.card2 p,
.card2 h2 {
    background-color: rgba(255, 255, 255, 0.1);

}

.card2 p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
}

/* CSS for change your habbits section. */
.habbits-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habbits-head p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

.habbits-head h2 {

    margin-top: 75px;
}

.habbit-card1 {
    text-align: center;
}

.habbit-card1 img {
    border-radius: 50%;
}

.habbit-card1 p {
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    margin-bottom: 100px;
}

.habbit-card1 img {
    margin-bottom: 10px;
}

/* Css for Run Section */
.run {
    width: auto;
    height: 400px;
    border-radius: 20px;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 30px;
}

.run-image img {
    width: 600px;
    height: 350px;
    border-radius: 10px;
}

.run-info {
    width: 500px;
    height: 300px;
    padding: 10px;
    justify-content: left;

}

.run-info h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;

}

.run-info p {
    font-size: 0.8rem;
    font-weight: normal;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    columns: rgba(255, 255, 255, 0.5);
}

.run-btn {
    width: 250px;
    height: 50px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 60px;
}

/* Css for Our team section */
.head-info {
    width: 700px;
    height: 150px;
    /* border: 1px solid wheat; */
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;

}

.head-info h3 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.head-info p {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.team-pic {
    width: 350px;
    height: 300px;
}

.team-pic img {
    width: 350px;
    height: 300px;
    border-radius: 18px;
    /* border: 1px dotted wheat; */

}

.image-info {
    position: relative;
    bottom: 60px;
    left: 20px;
    /* border: 1px solid wheat; */
    height: 50px;
    width: 200px;
}

.image-info p {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    /* border: 1 px solid wheat; */
    width: 1100px;
    height: 650px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 100px;
}

/* Css for footer section */
.title {
    width: 450px;
    height: 92px;
    /* border: 1px solid wheat; */
}

.title h2 {
    font-weight: 800;
    font-size: 2.2rem;
    color: rgb(230, 83, 60);
    font-style: italic;
}

.title p {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.5);
}

.link1 h2 {
    font-size: 2rem;
}

.link1-items {
    list-style: none;
    margin-bottom: 5px;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.5);
}

.link1 {
    width: 200px;
    height: 150px;
    /* border: 1px solid wheat; */
}

.footer-container {
    padding-left: 200px;
    padding-right: 200px;
    /* border: 1px dotted green; */
    display: grid;
    grid-template-columns: repeat(3, 0.85fr);
    height: 300px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.horizontal-line {
    width: 1400px;
    height: 0px;
}

.rights {
    color: rgba(255, 255, 255, 0.5);
}

.horizontal p {
    margin-top: 30px;
    margin-bottom: 30px;

}

.footer {
    background-color: rgba(255, 255, 255, 0.5);
}












/* Code for Responsiveness */
/* Banner-section */
@media screen and (max-width:576px) {
    .mr {
        margin-right: 0px;
    }

    .ml {
        margin-left: 0px;
    }

    .nav-bar {
        display: none;
        width: 100%;
    }

    .nav-head {
        margin-left: 10px;
        margin-right: 10px;
    }

    .banner {
        margin: 0 auto;
        width: 100%;
        height: auto;
        /* border: 1px solid pink; */

    }

    .banner-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;

    }

    .banner-info {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;

    }

    .banner-image {
        margin-left: 10px;

    }

    .banner-info-p {
        white-space: normal;
        text-align: left;
        text-wrap: wrap;
    }

    .card {
        position: absolute;
        top: 690px;
        right: 20px;
        width: 170px;
        height: 60px;
        padding: 10px;
        border: 1px solid rgb(255, 255, 255, 0.1);
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        text-align: center;

    }

    .card2 {
        position: absolute;
        top: 850px;
        right: 200px;
        width: 180px;
        height: 60px;
        padding: 10px;
        border: 1px solid rgb(255, 255, 255, 0.1);
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        text-align: center;

    }

    /* CSS for change your habbits */
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
        margin-bottom: 100px;
    }


    .habbits-head p {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 5px;
        margin-bottom: 5px;
        white-space: normal;
        text-align: center;

    }

    .habbits-head {
        margin-left: 10px;
        margin-left: 10px;
    }

    .habbit-card1 {
        margin-bottom: 10px;
    }

    /* Css for runing section */
    .run {
        width: calc(100% - 40px);
        height: auto;
        border-radius: 20px;
        background: rgb(34, 34, 34);
        display: grid;
        grid-template-columns: 0.85fr;
        padding: 10px;
        justify-content: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-left: 10px;
        /* border: 1px solid wheat; */

    }

    .run-image {
        width: auto;
        height: 100%;
    }

    .run-image img {
        width: 300px;
        height: auto;
        border-radius: 10px;
        margin-left: 10px;
    }

    .run-info {
        width: 100%;
        height: auto;
        justify-content: left;
        padding: 10px;

    }

    .run-info h2 {
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
        margin-bottom: 5px;

    }

    .run-info p {
        font-size: 0.75rem;
        font-weight: normal;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
        text-wrap: wrap;
        color: rgba(255, 255, 255, 0.5);
    }

    .run-btn {
        width: 300px;
        height: 50px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        border: none;
        margin-top: 30px;
    }

    /* Css for out team */
    .team-image-container {
        display: grid;
        grid-template-columns: repeat(1, 0.85fr);
        row-gap: 10px;
        padding: 10px;
        /* border: 1 px solid wheat; */
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
    }

    .head-info {
        width: 425px;
        height: 150px;
        /* border: 1px solid wheat; */
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;

    }

    .pic1,
    .pic4 {
        display: none;
    }

    /* Responsiveness of footer */

    .footer-container {

        /* border: 1px dotted green; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 600px;
        width: auto;
        background-color: rgba(255, 255, 255, 0.1);
        justify-content: flex-end;


    }

    .title {
        width: 200px;
        height: 95px;
        /* border: 1px solid wheat; */
        margin-bottom: 30px;
    }

    .title h2 {
        font-weight: 800;
        font-size: 2.2rem;
        color: rgb(230, 83, 60);
        font-style: italic;
        margin-bottom: 20px;
    }

    .title p {
        font-size: 0.85rem;
        font-weight: 400;
        color: rgb(255, 255, 255, 0.5);

    }

    .link1 h2 {
        font-size: 2rem;
    }

    .link1-items {
        list-style: none;
        margin-bottom: 5px;
    }

    .link {
        text-decoration: none;
        color: rgb(255, 255, 255, 0.5);
    }

    .link1 {
        width: 200px;
        height: 150px;
        /* border: 1px solid wheat; */
    }

    .horizontal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .horizontal-line {
        width: 400px;
        height: 0px;
    }

}